
<div class="main">
<h1 class="h1">MOVIES</h1>

<form action="/options"> <!--action -->
<input type="text" name="movie_title" placeholder="YOUR FAVORITE MOVIE"> <!--name attributen= params key-->

<button>Search</button>
</form>
</div>

